    <header>
      <h1 class="site-title">PH 211 Equations</h1>
    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/subjects/kinematics">Kinematics</a></li>
        <li class="navitem"><a href="/subjects/forces">Forces</a></li>
        <li class="navitem"><a href="/sunjects/energy">Energy</a></li>
      </ul>
    </nav>

    <main class="error-page">
      <h2>404</h2>
      <h3>Page not found.</h3>
    </main>
