 <header>
      <a href="#"><h1 class="site-title">PH 211 Equations</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/subjects/kinematics">Kinematics</a></li>
          <li class="navitem navlink"><a href="/subjects/forces">Forces</a></li>
          <li class="navitem navlink"><a href="/subjects/energy">Energy</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="home-page">
  <h1> Welcome to Coffin's Calculations: PH 211 Equation Emporium </h1>
  <ul> 
    <li> To view equations click on a subject </li>
    <li> Think we missed an equation? Add one! </li>
      </ul>
    </main>
